%section{ 'ng-app' => 'shirtsApp', 'ng-controller' => 'ShirtsCtrl' }
  .container
    %h2.center Shirts
    = link_to 'Create new shirt', new_admin_shirt_path, class: 'button new-shirt'
    %h3.center{ 'ng-show' => 'shirts.length == 0'} No shirts yet!
    .tiles-4.shirts
      .tile-item.shirt{ 'ng-repeat' => 'shirt in shirts' }
        .product-box
          %img.design{ 'ng-src' => '{{ shirt.design_normal }}', 'ng-show' => 'shirt.design_normal' }
          %i.icon-tshirt.default-shirt{ 'ng-hide' => 'shirt.design_normal'}
        .product-details
          %h4.center {{ shirt.name }}
          .sizes
            %h5 Size
            %span{ 'ng-repeat' => 'size in shirt.sizes' } {{ size.size }}
          .colors
            %h5 Color
            .color{ 'ng-repeat' => 'color in shirt.colors' }
              %div{ 'ng-style' => '{ background: color.hex_value }' }
          .shirt-meta
            %span Price:
            %span.data {{ shirt.price }}
          .shirt-meta
            %span Stock:
            %span.data {{ shirt.stock }}
          = link_to 'Edit', '{{ shirt.edit_link }}', class: 'button edit-button'
          = link_to 'Delete', '', class: 'button red delete-button', 'fade-shirt-tile' => 'remove_shirt(shirt)'

:javascript
  $(document).ready(function() {
    Utils.adjustTileSize('.tiles-4');
    AngularDataSeed({
      shirts: #{render partial: 'shirts/shirts', locals: { shirts: @shirts }, formats: [:json]},
      dependencies: { authenticity_token: '#{form_authenticity_token}' }
    })
  })