%section{ "ng-app" => 'shirtsApp', 'ng-controller' => 'ShirtsCtrl' }
  .container.main
    .input-container
      .input
        %label Name
        %input.short{ type: 'text', id: 'name', 'ng-model' => 'shirt.name' }
      .input
        %label Price
        %input.short{ type: 'text', id: 'price', 'ng-model' => 'shirt.price' }
      .input
        %label Stock
        %input.short{ type: 'text', id: 'stock', 'ng-model' => 'shirt.stock' }
      .input
        %label Colors
        .colors
          .color-box
            .color{ 'ng-repeat' => 'color in colors', 'ng-class' => '{ selected: shirt_has_color(color) }', 'ng-click' => 'toggle_color(color)' }
              %div{ 'ng-style' => '{"background-color": format_color(color.hex_value)}' }
        = link_to '', 'ng-show' => '!is_editing_color', 'ng-click' => 'is_editing_color = true' do
          %i.icon-plus
          Offer new shirt color

      .input.clearfix{ 'ng-show' => 'is_editing_color' }
        %h5 Please enter the color HEX value (e.g. #CCC )
        %input.color-input{ type: 'text', id: 'color', 'ng-model' => 'new_color_value' }
        .colors
          .color.color-preview
            %div{ 'ng-style' => '{"background-color": format_color(new_color_value)}' }
        %button.button{ 'ng-click' => 'save_color()'} Save color

      .input
        %label Sizes
        .sizes
          %span{ 'ng-repeat' => 'size in sizes', 'ng-class' => '{ selected: shirt_has_size(size)}', 'ng-click' => 'toggle_size(size)' }
            {{ size.size }}
        = link_to '' , 'ng-show' => '!is_editing_size', 'ng-click' => 'is_editing_size = true' do
          %i.icon-plus
          Offer new size

      .input.clearfix{ 'ng-show' => 'is_editing_size' }
        %h5 Please enter the size (e.g. XL )
        %input.extra-short{ type: 'text', id: 'color', 'ng-model' => 'new_size' }
        %button.button{ 'ng-click' => 'save_size()'} Save size

    .submit
      = link_to 'Cancel', request.referer, class: 'button grey'
      %button.button{ 'ng-click' => 'save()' } Add Shirt

:javascript
  $(document).ready(function() {
    AngularDataSeed({
      colors: #{render partial: 'colors/colors', locals: { colors: @colors }, formats: [:json]},
      sizes: #{render partial: 'sizes/sizes', locals: { sizes: @sizes }, formats: [:json]},
      authenticity_token: '#{form_authenticity_token}'
    });
  })