%section.orders
  .container.main
    %h2.center.extra-padded Orders
    - if @orders.empty?
      %h3.spacious.center No orders to display
    - else

      %table.full-width
        %thead
          %tr
            %td.order-number Order Number
            %td.customer-name Name
            %td.email Email
            %td.created Order Date
            %td.fulfilled
              Fulfilled
              %br
              %span.small (click to unfulfill)
        %tbody
        - @orders.each do |order|
          %tr
            %td.order-number= link_to order.order_number, admin_order_path(order)
            %td.customer-name= order.customer
            %td.email= mail_to order.email, order.email, subject: "BodyFuel Inquiry for Order #{order.order_number}"
            %td.created= format_time order.created_at
            %td.fulfilled
              - if order.fulfilled?
                = link_to unfulfill_admin_order_path(order) do
                  %i.icon-ok

    = will_paginate @orders

:javascript
  $(document).ready(function() {
    Utils.adjustTileSize('.tiles-4');
  })