%header.admin
  .container.clearfix
    %nav
      %ul
        = link_to image_tag('logo.png', alt: 'BodyFuel'), admin_orders_path, class: 'logo'
        %li>
          = link_to admin_orders_path do
            = "Orders (#{@order_count})"
            %i.icon-chevron-right
        %li>
          = link_to admin_shirts_path do
            SHIRTS
            %i.icon-chevron-right
        %li>
          = link_to admin_meals_path do
            MEALS
            %i.icon-chevron-right
        %li.action-links>
          = link_to edit_admin_users_path do
            %i.icon-user
          = link_to logout_path do
            %i.icon-exit