= image_tag random_cover_photo, class: 'home-cover-photo'
%section.meals
  .container

    .food-items.tiles-3
      = link_to menu_path, class: 'tile-item' do
        = image_tag 'chicken.jpg'
        .banner Fast
      = link_to menu_path, class: 'tile-item' do
        = image_tag 'fruit.jpg'
        .banner Healthy
      = link_to menu_path, class: 'tile-item' do
        = image_tag 'fruit_bowl.jpeg'
        .banner Convenient


%section.about
  .container
    %h4.center Your body and health is worth it
    %h2.center Let us help you
    .tiles-2
      .tile-item
        %h3.center No time? No problem!
        %p
          Ever find yourself pressed for time? We all have busy lives, but that’s no reason
          to neglect your body and not give it the proper nutrients and fuel it need to keep
          you running healthy and strong! That’s where we come in!
        = link_to 'Learn more &rarr;'.html_safe, about_path, class: 'view-more'
      .tile-item
        %h3.center Fast. Healthy. Convenient.
        %p
          We make it easy to continue your busy life but still get proper nutrition! We shop
          for the freshest ingredients, prepare your food, package it for easy on-the-go meals
          then deliver them to you fresh! No more excuses! BodyFuel is a simple solution!
        = link_to 'Learn more &rarr;'.html_safe, about_path, class: 'view-more'

:javascript
  $(document).ready(function() {
    Utils.adjustTileSize('.about');
    $('#fader1').fader({ slideDuration: Utils.randomNumber(5000, 7000) });
    $('#fader2').fader({ slideDuration: Utils.randomNumber(5000, 7000) });
    $('#fader3').fader({ slideDuration: Utils.randomNumber(5000, 7000) });
  });