- content_for :angular_app do
  cartsApp

- content_for :angular_controller do
  CartsCtrl

%section
  .container
    %h1.center Shirts
    = link_to carts_path, class: 'cart' do
      %i.icon-shopping-cart
      %span.cart-description
        - present(current_cart) do |cart_presenter|
          = cart_presenter.num_products
          = cart_presenter.total
      %span.arrow &rarr;

%section
  .container
    - if @shirts.empty?
      %h3.center We are currently working on our inventory. Check back soon!
    .tiles-4.shirts.tab-section
      .tile-item.padded{ 'ng-repeat' => 'shirt in shirts' }
        .product-box
          %spin{ 'spin-on' => 'shirt.loading', center: true }
          %img.design{ 'ng-src' => '{{ shirt.design }}', 'ng-show' => 'shirt.design' }
          %i.icon-tshirt.default-shirt{ 'ng-hide' => 'shirt.design || shirt.loading'}
        .product-details
          %h4.center {{ shirt.name }}
          %span.price {{ shirt.price | currency }}
          .tile-item-inner
            %h5 Size
            .alert.error{ 'ng-show' => 'errors[shirt.id].size' }
              %button.close{ 'hide-alert' => 'hide_shirt_alert(shirt, "size")', 'eat-click' => '' } &times;
              {{ errors[shirt.id].size }}
            .sizes
              %span{ 'ng-repeat' => 'size in shirt.sizes', 'ng-class' => '{ selected: shirt.size_id == size.id }', 'ng-click' => 'shirt.size_id = size.id' }
                {{ size.size }}
            %h5 Shirt Color
            .alert.error{ 'ng-show' => 'errors[shirt.id].shirt_color' }
              %button.close{ 'hide-alert' => 'hide_shirt_alert(shirt, "shirt_color")', 'eat-click' => '' } &times;
              {{ errors[shirt.id].shirt_color }}
            .colors
              .color{ 'ng-repeat' => 'color in shirt.shirt_colors', 'ng-class' => '{ selected: shirt.shirt_color_id == color.id }', 'ng-click' => 'shirt.shirt_color_id = color.id' }
                %div{ 'ng-style' => '{"background-color": color.hex_value}' }
            %h5 Text Color
            .alert.error{ 'ng-show' => 'errors[shirt.id].text_color' }
              %button.close{ 'hide-alert' => 'hide_shirt_alert(shirt, "text_color")', 'eat-click' => '' } &times;
              {{ errors[shirt.id].text_color }}
            .colors
              .color{ 'ng-repeat' => 'color in shirt.text_colors', 'ng-class' => '{ selected: shirt.text_color_id == color.id }', 'ng-click' => 'shirt.text_color_id = color.id' }
                %div{ 'ng-style' => '{"background-color": color.hex_value}' }
            %h5{ 'ng-show' => 'shirt.stock' } Quantity
            .alert.error{ 'ng-show' => 'errors[shirt.id].quantity' }
              %button.close{ 'hide-alert' => 'hide_shirt_alert(shirt, "quantity")', 'eat-click' => '' } &times;
              {{ errors[shirt.id].quantity }}
            = text_field_tag :quantity, nil, class: 'short', 'ng-model' => 'shirt.quantity', 'ng-show' => 'shirt.stock'
          = link_to 'Add to Cart', '', class: 'button add-to-cart', 'ng-click' => 'add_shirt(shirt)', 'ng-show' => 'shirt.stock'
          = link_to 'Added', '', class: 'button red add-to-cart ignore-margin', 'ng-hide' => 'true', 'fade-in-out' => 'shirt.saving', 'animation-duration' => '1000', 'fade-in-duration' => '50', 'ng-show' => 'shirt.stock'
          %h4.center.align-to-bottom{ 'ng-hide' => 'shirt.stock' } Out of stock

:javascript
  $(document).ready(function() {
    Utils.adjustTileSize('.tiles-4');
    AngularDataSeed({
      shirts: #{render partial: 'shirts/shirts', locals: { shirts: @shirts }, formats: [:json]},
      cart: #{render partial: 'carts/cart', locals: { cart: current_cart }, formats: [:json]},
      authenticity_token: '#{form_authenticity_token}'
    });
  })