- content_for :step do
  2

- content_for :cart_contents do
  = form_for @customer do |f|
    .input.input-left
      %label
        First Name
        %span.required *
      = f.text_field :first_name

    .input.input-right
      %label
        Last Name
        %span.required *
      = text_field_tag :last_name

    .input.input-left
      %label
        Email
        %span.required *
      = text_field_tag :email

- content_for :buttons do
  = link_to '&larr; Cart'.html_safe, carts_path, class: 'button grey'
  = link_to 'Review &rarr;'.html_safe, review_path, class: 'button pull-right red'