- content_for :angular_app do
  cartPaymentApp

- content_for :angular_controller do
  CartPaymentCtrl

- content_for :step do
  3

- content_for :cart_contents do
  %spin{ 'spin-on' => 'saving', 'dim' => '.checkout-inner', 'center' => '' }
  %button.button{ 'ng-click' => 'stripe_checkout()', 'ng-hide' => 'stripe.card' } Enter Payment Info
  %button.button.ignore-margin{ 'ng-click' => 'stripe_checkout()', 'ng-show' => 'stripe.card' } Renter Payment Info
  .tiles-2.customer-info
    .tile-item
      %h4.center Shipping Information
      .customer-info-row= @customer.full_name
      .customer-info-row= @customer.address
      .customer-info-row= "#{@customer.city}, #{@customer.state} #{@customer.zipcode}"
    .tile-item.payment{ 'ng-show' => 'stripe.card' }
      %h4.center Billing Information
      %h5 Billing Address
      .customer-info-row {{ stripe.card.name }}
      .customer-info-row {{ stripe.card.address_line1 }}
      .customer-info-row{ 'ng-show' => 'stripe.card.address_line2' } {{ stripe.card.address_line2 }}
      %h5 Payment Information
      .customer-info-row {{ stripe.card.address_city }}, {{ stripe.card.address_state }}, {{ stripe.card.address_zip }}
      .customer-info-row **** **** **** {{ stripe.card.last4 }}
      .customer-info-row {{ stripe.card.type }}
      .customer-info-row Expires {{ stripe.card.exp_month | zeroPad:2 }}/{{ stripe.card.exp_year }}
  .tiles-1
    .tile-item
      %h4.center Order Summary
      .customer-info-row
        Items:
        %span.pull-right= number_to_currency current_cart.total
      .customer-info-row
        Shipping:
        %span.pull-right= number_to_currency 0
      %hr
      .customer-info-row
        %h3.inline
          Order Total:
        %span.order-total= number_to_currency current_cart.total

  :javascript
    $(document).ready(function() {
      AngularDataSeed({
        cart: #{render partial: 'carts/cart', locals: { cart: current_cart }, formats: [:json]},
        customer: #{render partial: 'customers/customer', locals: { customer: current_cart.customer }, formats: [:json]},
        authenticity_token: "#{form_authenticity_token}"
      });

      Utils.adjustTileSize('.tiles-3');
    });


- content_for :buttons do
  = link_to '&larr; Checkout'.html_safe, checkout_path, class: 'button grey'
  = link_to 'Submit order', '', class: 'button pull-right red', 'ng-click' => 'create_order()', 'ng-class' => '{ disabled: !stripe.card }'