%h4= "Order #: #{@order.order_number}"

%h3 Shipping Details
%div{ style: 'margin: 15px 0; border-top: 1px solid #DDD; padding: 15px 0;' }
  %div= @order.customer
  %div= @order.customer.address
  %div= "#{@order.customer.city}, #{@order.customer.state} #{@order.customer.zipcode}"

%h3 Order Details
%div{ style: 'margin-top: 15px; border-top: 1px solid #DDD; padding-top: 15px;' }
  - @order.cart.cart_shirts.each do |shirt|
    %div{ style: 'margin-bottom: 15px;' }
      %div{ style: 'float: left; margin-right: 5px; ' }
        %div{ style: 'display: inline-block; border: 2px solid #EEE; margin-left: 5px; box-sizing: border-box;' }
          %div{ style: "background-color: #{shirt.shirt_color.hex_value}; width: 28px; height: 28px; margin: 2px; box-sizing: border-box" }
      %div{ style: 'float: left; margin-right: 5px; ' }
        %div{ style: 'display: inline-block; border: 2px solid #EEE; margin-left: 5px; box-sizing: border-box;' }
          %div{ style: "background-color: #{shirt.text_color.try(:hex_value)}; width: 28px; height: 28px; margin: 2px; box-sizing: border-box" }
      %div
        %span{ style: 'margin-left: 10px; line-height: 35px;' }= "#{shirt.quantity} of #{shirt.size.size} #{shirt.name} @ #{number_to_currency(shirt.price)}"
        %span{ style: 'float: right; font-weight: bold; line-height: 35px;' }= number_to_currency shirt.total
      %div{ style: 'clear: both;' }

%hr{ style: 'border-top: none; border-bottom: 1px solid #DDD' }
%span{ style: 'float: right; font-size: 16px; font-weight: bold; display: inline-block; margin-top: 10px;' }= "Total: #{number_to_currency @order.cart.total}"