%section{ "ng-app" => 'mealsApp', 'ng-controller' => 'MealsCtrl' }
  .container.main
    = form_for [:admin, @meal], html: { multipart: true, id: 'meal-form' } do |f|
      %spin{ 'spin-on' => 'saving', 'dim' => '.input-container', 'center' => '' }
      .input-container
        .image-preview
          .input
            %label Choose meal image
            = f.file_field :image, 'image-preview' => '', 'target' => '#preview', 'hide' => '.default-shirt'
            %button.button.upload-button{ 'eat-click' => '' } Choose Image
            .preview
              %img#preview{ 'ng-src' => '{{ meal.image }}', 'ng-show' => 'meal.image' }
              %i.icon-banana.default-shirt.default-preview{ 'ng-hide' => 'meal.image' }
        .input
          %label
            Name
            %span.required *
          %input.short{ type: 'text', id: 'name', 'ng-model' => 'meal.name', 'ng-class' => '{ error: errors.name }' }
          .alert.error{ 'ng-show' => 'errors.name' }
            %button.close{ 'hide-alert' => 'errors.name = ""', 'eat-click' => '' } &times;
            {{ errors.name }}

        .input
          %label
            Description
          %textarea{ 'ng-model' => 'meal.description' }

        = f.hidden_field :name, 'hidden-value' => 'meal.name'
        = f.hidden_field :description, 'hidden-value' => 'meal.description'

      .submit
        = link_to 'Cancel', request.referer, class: 'button grey'
        = link_to 'Save Meal', '', class: 'button pull-right', 'submit-form' => '#meal-form', 'valid' => 'is_valid()', 'saving' => 'saving'
        - if action.eql? 'edit'
          = link_to 'Delete', '', class: 'button red pull-right', 'ng-click' => 'delete(meal, redirect_callback, true)'

:javascript
  $(document).ready(function() {
    AngularDataSeed({
      meal: #{render partial: 'meals/meal', locals: { meal: @meal, image_size: :large }, formats: [:json]},
      dependencies: { authenticity_token: '#{form_authenticity_token}' }
    });
  })