%section{ 'ng-app' => 'mealsApp', 'ng-controller' => 'MealsCtrl' }
  .container
    %h2.center Meals
    = link_to 'Add new meal', new_admin_meal_path, class: 'button new-meal'
    .tiles-3.meals
      .tile-item.padded{ 'ng-repeat' => 'meal in meals | orderBy:"id":true' }
        .product-box
          %img.design{ 'ng-src' => '{{ meal.meal_normal }}' }
        %h4.center {{ meal.name | truncate:20 }}
        = link_to 'Edit', '{{ meal.edit_link }}', class: 'button edit-button'
        = link_to 'Delete', '', class: 'button red delete-button', 'fade-tile' => 'remove_meal(meal)'

:javascript
  $(document).ready(function() {
    AngularDataSeed({
      meals: #{render partial: 'meals/meals', locals: { meals: @meals }, formats: [:json]},
      dependencies: { authenticity_token: '#{form_authenticity_token}' }
    });
  });