%section{ 'ng-app' => 'mealsApp', 'ng-controller' => 'MealsCtrl' }
  .container
    %h2.center Meals
    = link_to 'Add new meal', new_admin_meal_path, class: 'button new-meal'
    .tiles-3.meals
      .tile-item.shirt{ 'ng-repeat' => 'meal in meals' }
        / Cool!
        = link_to 'Edit', '', class: 'button edit-button'
        = link_to 'Delete', '', class: 'button red delete-button'

:javascript
  $(document).ready(function() {
    AngularDataSeed({
      meals: #{render partial: 'meals/meals', locals: { meals: @meals }, formats: [:json]},
      dependencies: { authenticity_token: '#{form_authenticity_token}' }
    });
  });