%header
  .container.clearfix
    / = link_to carts_path, class: 'cart' do
    /   %i.icon-shopping-cart
    /   %span.cart-description
    /     - present(current_cart) do |cart_presenter|
    /       = cart_presenter.num_products
    /       = cart_presenter.total
    /   %span.arrow &rarr;
    %nav
      %ul
        = link_to image_tag('logo.png', alt: 'BodyFuel'), root_path, class: 'logo'
        %li>
          = link_to order_path do
            ORDER
            %i.icon-chevron-right
        %li>
          = link_to about_path do
            ABOUT
            %i.icon-chevron-right
        %li>
          = link_to contact_path do
            CONTACT
            %i.icon-chevron-right
        %li.social-links>
          = facebook_link
          = twitter_link
          = instagram_link


