%header
  .container.clearfix
    = link_to image_tag('logo.png', alt: 'BodyFuel'), root_path, class: 'logo'
    .cart
      %i.icon-shopping-cart
      - present(current_cart) do |cart_presenter|
        = cart_presenter.num_products
        |
        = cart_presenter.total
    %nav
      %ul
        %li= link_to 'NUTRITION', nutrition_path
        %li= link_to 'FITNESS', fitness_path
        %li= link_to 'ORDER', order_path
        %li= link_to 'ABOUT', about_path
        %li= link_to 'CONTACT', contact_path