%header
  .container
    = link_to image_tag('logo.png', alt: 'BodyFuel'), root_path, class: 'logo'
    %nav
      %ul
        %li= link_to 'NUTRITION', nutrition_path
        %li= link_to 'FITNESS', fitness_path
        %li= link_to 'ORDER', order_path
        %li= link_to 'ABOUT', '#'
        %li= link_to 'CONTACT', '#'