!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'BodyFuel'
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ class: content_for?(:body_class) ? yield(:body_class) : '' }
    = yield :my_layout